<!DOCTYPE html>
<html ng-app="cursoModule">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Cadastrar curso</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
	<script src="../resources/js/angular.min.js"></script>
	<script src="../resources/js/jquery.min.js"></script>
	<script src="../resources/js/bootstrap.min.js"></script>
	<script src="../resources/control/curso.js"></script>
</head>
<body ng-controller="cursoController">
	<div ng-include="'../administrador/menuAdministrador.html'"></div>
	<div ng-include="'../administrador/opcoes.html'"></div>

	<div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="cadastro">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="codigo" class="col-sm-1 control-label">Código</label>
						<div class="col-sm-2">
							<input type="number" class="form-control" ng-model="curso.codigo" placeholder="Código" disabled>
						</div>
						<label for="nome" class="col-sm-1 control-label">Nome</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" ng-model="curso.nome" placeholder="Nome" required>
						</div>
					</div>
					<div class="form-group">
						<label for="administrador" class="col-sm-1 control-label">Administrador</label>
						<div class="col-sm-2">
							<select class="form-control" ng-model="curso.administrador"
								ng-options="administrador.siape for administrador in administradores track by administrador.codigo">
							</select>
						</div>
						<label for="ativo" class="col-sm-1 control-label">Ativo</label>
						<div class="col-sm-1">
							<!-- <input type="hidden" value="0" ng-model="curso.ativo"> -->
							<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="curso.ativo">
						</div>
					</div>
					<button type="submit" class="btn btn-success" ng-click="salvar();">Cadastrar</button>
				</form>
			</div>
		</div>

	</div>
</body>
</html>